@mixin imgContain($width, $height) {
    width: $width;
    height: $height;
    object-fit: contain;
    object-position: center;
    object-position: center;
}

@mixin imgCover($width, $height) {
    width: $width;
    height: $height;
    object-fit: cover;
    object-position: center;
    object-position: center;
}

//

%img-contain-100 {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    object-position: center;
}

%img-cover-100 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    object-position: center;
}

%flex-row-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%flex-row-between-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

%flex-column-between-start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

%flex-row-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flex-column-between-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
